@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Bold-webfont.eot') url('fonts/OpenSans-Bold-webfont.ttf') url('fonts/OpenSans-Bold-webfont.woff');
    font-weight: bold;
    font-style: normal;
    src: url('fonts/OpenSans-BoldItalic-webfont.eot') url('fonts/OpenSans-BoldItalic-webfont.ttf') url('fonts/OpenSans-BoldItalic-webfont.woff');
    font-weight: bold;
    font-style: italic;
    src: url('fonts/OpenSans-Italic-webfont.eot') url('fonts/OpenSans-Italic-webfont.ttf') url('fonts/OpenSans-Italic-webfont.woff');
    font-weight: normal;
    font-style: italic;
    src: url('fonts/OpenSans-Regular-webfont.eot') url('fonts/OpenSans-Regular-webfont.ttf') url('fonts/OpenSans-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@media all and (min-width: 992px) {
    #cv-phone {
        display: none;
    }
    #cv {
        background-color: rgba(255, 255, 231, 0.644);
        display: flex;
        color: #3b3b3b;
        font-family: 'OpenSans', sans-serif;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        border: solid #3b3b3b 2px;
    }
    .partie-gauche {
        background-color: #C5E1A5;
        width: 55%;
        padding-top: 50px;
        color: #3b3b3b;
        height: 100%;
    }
    .photo {
        text-align: center;
        padding-bottom: 10px;
        margin-top: -10px;
    }
    #photo {
        width: 70%;
    }
    h3 {
        color: #D2E1B7;
        background-color: #3b3b3b;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1.5em;
        font-weight: normal;
    }
    .partie-gauche p {
        padding-left: 40px;
    }
    .partie-gauche .icones {
        padding-left: 20px;
        padding-right: 20px;
    }
    #contenu-contact {
        margin-top: 35px;
        margin-bottom: 40px;
    }
    #a-propos p {
        margin-right: 40px;
        margin-top: 35px;
        padding-bottom: 310px;
        text-align: justify;
    }
    .icones-tab {
        display: none;
    }
    .icones-desktop {
        display: flex;
        justify-content: center;
    }
    #cooking {
        margin-top: 15px;
        color: #3B3B3B;
    }
    #cinema {
        margin-left: 30px;
        margin-top: 15px;
    }
    #tools {
        margin-left: 30px;
        margin-top: 15px;
    }
    #loisirs {
        margin-bottom: 40px;
    }
    .partie-droite {
        height: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }
    #nom-prenom {
        display: flex;
        margin-top: 50px;
        font-size: 2.2em;
    }
    #nom-prenom #prenom {
        color: #C5E1A5;
        font-weight: normal;
    }
    #nom-prenom #nom {
        margin-left: 10px;
        font-weight: normal;
    }
    #souligner {
        border-bottom: solid;
        border-color: #C5E1A5;
        border-width: 2.8px;
        padding-bottom: 2px;
    }
    #metier {
        margin-top: -28px;
        font-weight: normal;
        font-size: 1.6em;
    }
    .bloc {
        margin-top: 10px;
    }
    #first-bloc {
        margin-top: 90px;
    }
    .bloc .titre-bloc {
        display: flex;
        margin-bottom: 30px;
        border-bottom: solid #C5E1A5 3px;
    }
    .titre-bloc h2 {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 1.8em;
        font-weight: normal;
    }
    #icone-form {
        margin-top: 22px;
        margin-right: 20px;
        padding-left: 5px;
    }
    #icone-exp {
        margin-top: 22px;
        margin-right: 20px;
        padding-left: 5px;
    }
    #icone-rec {
        margin-top: 22px;
        margin-right: 20px;
        padding-left: 5px;
    }
    .sous-bloc {
        display: flex;
    }
    .puce-date {
        display: flex;
    }
    #puce1 {
        margin-top: 20px;
        margin-right: 15px;
    }
    #puce2 {
        margin-top: 20px;
        margin-right: 15px;
    }
    #puce3 {
        margin-top: 20px;
        margin-right: 15px;
    }
    #puce4 {
        margin-top: 20px;
        margin-right: 15px;
    }
    .lieu {
        text-align: left;
        width: 200px;
        margin-top: -15px;
        margin-left: 30px;
    }
    #rec-droite {
        margin-left: 140px;
        line-height: 10px;
    }
    #rec {
        line-height: 10px;
    }
    .link {
        text-decoration: none;
        color: #8a9e72;
    }
    .link:hover {
        color: #a8be8b;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    #cv-phone {
        display: none;
    }
    #cv {
        display: flex;
        color: #3b3b3b;
        font-family: 'OpenSans', sans-serif;
        background-color: rgba(255, 255, 231, 0.644);
    }
    .partie-gauche {
        background-color: #C5E1A5;
        width: 25%;
        padding-top: 50px;
        color: #3b3b3b;
        height: 100%;
    }
    .photo {
        text-align: center;
        padding-bottom: 10px;
    }
    #photo {
        width: 70%;
    }
    h3 {
        color: #D2E1B7;
        background-color: #3b3b3b;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 1.2em;
        font-weight: normal;
    }
    .partie-gauche p {
        padding-left: 40px;
    }
    #contenu-contact {
        margin-top: 35px;
        margin-bottom: 40px;
    }
    #a-propos p {
        margin-right: 40px;
        margin-top: 35px;
        padding-bottom: 180px;
        text-align: justify;
    }
    .icones-desktop {
        display: none;
    }
    .icones-tab {
        display: flex;
        justify-content: center;
    }
    #cooking {
        margin-top: 15px;
        color: #3B3B3B;
    }
    #cinema {
        margin-top: 15px;
        margin-left: 10px;
    }
    #tools {
        margin-left: 10px;
        margin-top: 15px;
    }
    #loisirs {
        margin-bottom: 30px;
    }
    .partie-droite {
        height: 100%;
        padding-left: 50px;
        padding-right: 60px;
    }
    #nom-prenom {
        display: flex;
        margin-top: 50px;
        font-size: 2.2em;
    }
    #nom-prenom #prenom {
        color: #C5E1A5;
        font-weight: normal;
    }
    #nom-prenom #nom {
        margin-left: 10px;
        font-weight: normal;
    }
    #souligner {
        border-bottom: solid;
        border-color: #C5E1A5;
        border-width: 2.8px;
        padding-bottom: 2px;
    }
    #metier {
        margin-top: -28px;
        font-weight: normal;
        font-size: 1.6em;
    }
    .bloc {
        margin-top: 30px;
    }
    #first-bloc {
        margin-top: 90px;
    }
    .bloc .titre-bloc {
        display: flex;
        margin-bottom: 30px;
        border-bottom: solid #C5E1A5 3px;
    }
    .titre-bloc h2 {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 1.8em;
        font-weight: normal;
    }
    #icone-form {
        margin-top: 22px;
        margin-right: 20px;
        padding-left: 5px;
    }
    #icone-exp {
        margin-top: 22px;
        margin-right: 20px;
        padding-left: 5px;
    }
    #icone-rec {
        margin-top: 22px;
        margin-right: 20px;
        padding-left: 5px;
    }
    .sous-bloc {
        display: flex;
    }
    .puce-date {
        display: flex;
    }
    #puce1 {
        margin-top: 20px;
        margin-right: 15px;
    }
    #puce2 {
        margin-top: 20px;
        margin-right: 15px;
    }
    #puce3 {
        margin-top: 20px;
        margin-right: 15px;
    }
    #puce4 {
        margin-top: 20px;
        margin-right: 15px;
    }
    .lieu {
        text-align: left;
        width: 200px;
        margin-top: -15px;
        margin-left: 30px;
    }
    #rec-droite {
        margin-left: 140px;
        line-height: 15px;
    }
    #rec {
        line-height: 15px;
    }
    .link {
        text-decoration: none;
        color: #8a9e72;
    }
    .link:hover {
        color: #a8be8b;
    }
}

@media all and (max-width: 768px) {
    #cv {
        display: none;
    }
    #cv-phone {
        color: #3b3b3b;
        font-family: 'OpenSans', sans-serif;
        background-color: rgba(255, 255, 231, 0.644);
    }
    .bloc-photo-phone {
        width: 100%;
        text-align: center;
        background-color: #C5E1A5;
    }
    #photo-phone {
        width: 25%;
        margin-top: 5px;
    }
    #nom-prenom-phone {
        display: flex;
        justify-content: center;
        font-weight: normal;
        font-size: 2em;
    }
    #prenom-phone {
        color: rgb(171, 194, 145);
    }
    #nom-phone {
        margin-left: 10px;
    }
    #metier-phone {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        margin-top: -20px;
    }
    #souligner-phone {
        border-bottom: solid rgb(171, 194, 145) 2px;
    }
    .titre-bloc {
        display: flex;
        justify-content: center;
        font-size: 0.8em;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: solid rgb(171, 194, 145) 2px;
    }
    #icone-form {
        padding-top: 22px;
        margin-right: 10px;
    }
    .puce-date {
        display: flex;
        margin-top: -10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    #puce1phone {
        padding-top: 20px;
        margin-right: 10px;
    }
    .lieu {
        margin-top: -15px;
        margin-left: 42px;
        margin-right: 20px;
    }
    .sb-droit {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
    }
    .parag {
        margin-top: -10px;
    }
    #puce2phone {
        padding-top: 18px;
        margin-right: 10px
    }
    .sous-bloc {
        margin-top: 20px;
    }
    #puce3phone {
        padding-top: 19px;
        margin-right: 10px
    }
    .link {
        text-decoration: none;
        color: #8a9e72;
    }
    .link:hover {
        color: #a8be8b;
    }
    #puce4phone {
        padding-top: 20px;
        margin-right: 10px;
    }
    #icone-exp-phone {
        padding-top: 22px;
        margin-right: 10px;
    }
    #icone-rec-phone {
        padding-top: 22px;
        margin-right: 10px;
    }
    #recphone {
        margin-left: 40px;
        margin-top: 40px;
        line-height: 15px;
    }
}